<div class="flex text-base">
  <div class="flex flex-col m-2 monitor-col-width justify-between">
    <div
      class="flex items-center hoverable-font font-weight-bold cursor-pointer"
      (click)="showAllFiles()"
    >
      Total <i class="material-icons !text-base ml-2">visibility</i>
    </div>
    <div>Displayed</div>
    <div
      (click)="showSelectedFiles()"
      class="flex items-center hoverable-font font-weight-bold cursor-pointer"
    >
      Selected <i class="material-icons !text-base ml-2">visibility</i>
    </div>
  </div>
  <div class="flex flex-col m-2 monitor-col-width justify-between">
    <div class="font-weight-bold">
      {{ store.filesSignal().length }}
    </div>
    <div>
      {{ store.visibilitySignal() }}
    </div>
    <div>
      {{ store.selectionCounterSignal() }}
    </div>
  </div>
  <div class="flex flex-col m-2 monitor-col-width justify-between">
    <div class="font-weight-bold">100%</div>
    <div>{{ store.visibilityPercentageSignal() }}%</div>
    <div>{{ store.selectionPercentageSignal() }}%</div>
  </div>
  <div class="flex flex-col m-2 w-full">
    <div class="flex h-full">
      <app-percentage-display
        class="w-full"
        [property]="'isVisible'"
        [color]="1"
      ></app-percentage-display>
    </div>
    <div class="flex h-full">
      <app-percentage-display
        class="w-full"
        [property]="'isSelected'"
        [color]="1"
      ></app-percentage-display>
    </div>
  </div>
</div>
