<div class="flex flex-col md:flex-row">
<div class="flex">
    <div class="p-2 pl-0">
      <button
        class="button-basics shine-effect action-button"
        [disabled]="
          store.filesSignal().length === 0 ||
          store.selectionCounterSignal() === store.visibilitySignal()
        "
        (click)="selectAll()"
      >
        <i class="material-symbols-outlined text-lg cursor-pointer">check_box</i>
      </button>
    </div>
    <div class="p-2">
      <button
        class="button-basics shine-effect action-button"
        [disabled]="store.filesSignal().length === 0 || store.selectionCounterSignal() === 0"
        (click)="deselectAll()"
      >
        <i class="material-symbols-outlined text-lg cursor-pointer">check_box_outline_blank</i>
      </button>
    </div>
    <div class="p-2">
      <button
        class="button-basics shine-effect action-button"
        [disabled]="store.filesSignal().length === 0"
        (click)="invertSelection()"
      >
        <i class="material-symbols-outlined text-lg cursor-pointer">exposure</i>
        <!---Invert selection--->
      </button>
    </div>
    <div class="p-2">
      <button
        class="button-basics shine-effect action-button"
        [disabled]="store.changedFilesCounter() === 0"
        (click)="selectAllChanged()"
      >
        <i class="material-symbols-outlined text-lg cursor-pointer">settings_applications</i>
      </button>
    </div>
  </div>
  <div>
    <div class="inline-flex whitespace-nowrap p-2 pr-0">
      <input
        class="input-field-basics"
        #searchField
        placeholder="Search"
        type="text"
        style="width: 300px"
        [value]="store.searchStringSignal()"
        (input)="store.searchStringSignal.set(searchField.value)"
        (keyup.enter)="store.filterFilesWithRegex(store.searchStringSignal())"
      />
      <button
        class="input-field-basics input-field-co-button shine-effect  shine-effect "
        [disabled]="!store.isClearable()"
        (click)="clearSearchString()"
      >
        Clear
      </button>
    </div>
  </div>
</div>
