<div>
  <div class="pb-2">
    @if (isAdding()) {
      <form [formGroup]="favoriteForm" (ngSubmit)="onSubmit()">
        <div class="flex">

          <div class="form-group">
            <input
              type="text"
              id="name"
              class="input-field-basics h-full"
              formControlName="name"
              placeholder="My Project Name"
            >
            <!--              @if (favoriteForm.get('name')?.invalid && favoriteForm.get('name')?.touched) {-->
            <!--                <div class="error">-->
            <!--                  Name ist erforderlich-->
            <!--                </div>-->
            <!--              }-->
          </div>

          <div class="path-input-group pl-2">
            <input
              class="input-field-basics h-full"
              type="text"
              id="path"
              formControlName="path"
              readonly
              placeholder="Choose a directory..."
            >
          </div>

          <div class="form-group pl-2">
            <div class="flex button-basics shine-effect decline-button" (click)="selectDirectory()">
              <i class="material-symbols-outlined text-lg cursor-pointer">folder</i>
              <div class="pl-2">
                Browse
              </div>
            </div>
          </div>

<!--            <div class="form-group">-->
<!--              <label>-->
<!--                <input-->
<!--                  type="checkbox"-->
<!--                  formControlName="pinned"-->
<!--                >-->
<!--                📌 Angepinnt-->
<!--              </label>-->
<!--            </div>-->

          <div class="pl-2">
            <button class="button-basics shine-effect decline-button" (click)="cancelNewFavorite()">
              Cancel
            </button>
          </div>

          <div class="pl-2">
            <button class="button-basics shine-effect action-button" type="submit" [disabled]="favoriteForm.invalid">
              Save
            </button>
          </div>

        </div>
      </form>
    }
    @if (!isAdding()) {
      <div class="flex">
        <div class="button-basics shine-effect decline-button flex justify-center items-center" (click)="addFavoriteFolders()">
          <i class="material-symbols-outlined">add</i>
        </div>
        <div class="flex h-auto justify-center items-center text-xl pl-2">
          Add favorites
        </div>
      </div>
    }
  </div>

  <div class="grid grid-cols-[auto_auto_auto_auto_1fr] gap-2 items-center">
    @for (directory of store.favoriteDirectories(); track directory.path) {
      <div (click)="removeFavoriteDirectory(directory)" class="button-basics shine-effect decline-button">
        <i class="material-symbols-outlined text-lg cursor-pointer">delete</i>
      </div>
      <div>{{ directory.name }}</div>
      <div (click)="getAllFilesFromGivenDirectory(directory.path)" class="button-basics shine-effect decline-button">
        <div class="flex">
          Get all files
        </div>
        <div class="pl-2">
          <i class="material-symbols-outlined text-lg cursor-pointer">file_save</i>
        </div>
      </div>
      <div (click)="getFiles(directory.path)" class="button-basics shine-effect decline-button">
        <div class="flex">
          Open at directory
        </div>
        <div class="pl-2">
          <i class="material-symbols-outlined text-lg cursor-pointer">open_jam</i>
        </div>
      </div>
      <div>{{ directory.path }}</div>
    }
  </div>
</div>
