<div class="w-full h-full shadow-border-l p-4">
  <div class="flex h-full flex-col justify-between">
    <div class="flex justify-between m-6 mb-0">
      <button
        [disabled]="!this.store.canUndo()"
        class="button-basics shine-effect action-button"
        (click)="undoChanges()"
      >
        <i class="material-symbols-outlined text-base mr-2">undo</i>
        Undo
      </button>
      <button
        [disabled]="!this.store.canRedo()"
        class="button-basics shine-effect action-button"
        (click)="redoChanges()"
      >
        Redo
        <i class="material-symbols-outlined text-base ml-2">redo</i>
      </button>
    </div>
    <div
      class="flex m-3 h-full"
      [ngClass]="{ 'flex-col': !verticalPosition }"
    >
      <app-quicktool-wrapper
        #replaceWrapper
        [isAcceptDisabled]="replaceTool.isAcceptDisabled()"
        [stopClosingAfterAccept]="true"
        [disabled]="this.store.selectionCounterSignal() === 0"
        (expand)="onExpand($event, 'replace', replaceWrapper.cancelChanges.bind(replaceWrapper))"
        (accept)="replaceTool.onAccept(); onAccept()"
        (cancel)="replaceTool.onCancel(); onCancel()"
        title="Replacement"
      >
        <div tool-content>
          <app-replace-tool #replaceTool />
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #indexerWrapper
        [isAcceptDisabled]="indexerTool.isAcceptDisabled()"
        [disabled]="this.store.selectionCounterSignal() === 0"
        (expand)="onExpand($event,'indexer', indexerWrapper.cancelChanges.bind(indexerWrapper))"
        (accept)="onAccept(); indexerTool.onAccept()"
        (cancel)="onCancel(); indexerTool.onCancel()"
        icon="list"
        title="Indexer"
      >
        <div tool-content>
          <app-indexer-tool #indexerTool></app-indexer-tool>
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #caseConverterWrapper
        [isAcceptDisabled]="caseConverter.isAcceptDisabled()"
        [disabled]="this.store.selectionCounterSignal() === 0"
        (expand)="
          onExpand($event,'caseConverter', caseConverterWrapper.cancelChanges.bind(caseConverterWrapper))
        "
        (accept)="onAccept(); caseConverter.onAccept()"
        (cancel)="onCancel(); caseConverter.onCancel()"
        title="Case Converter"
        icon="text_format"
      >
        <div tool-content>
          <app-case-converter-tool #caseConverter></app-case-converter-tool>
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #shardsToolWrapper
        [isAcceptDisabled]="shardsTool.isAcceptDisabled()"
        [disabled]="this.store.selectionCounterSignal() === 0"
        (expand)="
          onExpand($event,'shardsTool', shardsToolWrapper.cancelChanges.bind(shardsToolWrapper))
        "
        (accept)="onAccept(); shardsTool.onAccept()"
        (cancel)="onCancel(); shardsTool.onCancel()"
        title="SHARDS"
        icon="auto_awesome_mosaic"
      >
        <div tool-content>
          <app-shards-tool #shardsTool [isExpanded]="shardsToolWrapper.isExpanded"></app-shards-tool>
        </div>
      </app-quicktool-wrapper>

      <div class="application-2-bg tailwind-font-color-disabled m-3 p-3">
        Upcoming features:
        <div>
          <li>SHARDS - open dynamic amounts of input fields per file</li>
          <li>Multi file rearrangement</li>
          <li>File sorting by size / extension</li>
          <li>Direct editing of files</li>
          <li>All changes reset</li>
          <li>Smaller screen support</li>
        </div>
      </div>
    </div>
    <div id="button-bar" class="flex justify-between m-5">
<!--      <button class="button-basics shine-effect action-button">Placeholder</button>-->
    </div>
  </div>
</div>
