<div class="w-full h-full shadow-border-l p-4">
  <div class="flex h-full flex-col justify-between">
    <div class="flex justify-between m-6 mb-0">
      <button
        [disabled]="!this.store.canUndo()"
        class="button-basics shine-effect action-button"
        (click)="undoChanges()"
      >
        <i class="material-symbols-outlined text-base mr-3">undo</i>
        Undo
      </button>
      <button
        [disabled]="!this.store.canRedo()"
        class="button-basics shine-effect action-button"
        (click)="redoChanges()"
      >
        Redo
        <i class="material-symbols-outlined text-base mr-3">redo</i>
      </button>
    </div>
    <div
      class="flex m-3 h-full"
      [ngClass]="{ 'flex-col': !verticalPosition }"
    >
      <app-quicktool-wrapper
        #replaceWrapper
        (expand)="onExpand($event, 'replace', replaceWrapper.cancelChanges.bind(replaceWrapper))"
        (accept)="replaceTool.onAccept(); onAccept()"
        (cancel)="replaceTool.onCancel(); onCancel()"
        [isAcceptDisabled]="replaceTool.isAcceptDisabled()"
        [stopClosingAfterAccept]="true"
        title="Replacement"
      >
        <div tool-content>
          <app-replace-tool #replaceTool />
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #indexerWrapper
        (expand)="onExpand($event,'indexer', indexerWrapper.cancelChanges.bind(indexerWrapper))"
        (accept)="onAccept(); indexerTool.onAccept()"
        (cancel)="onCancel(); indexerTool.onCancel()"
        [isAcceptDisabled]="indexerTool.isAcceptDisabled()"
        icon="list"
        title="Indexer"
      >
        <div tool-content>
          <app-indexer-tool #indexerTool></app-indexer-tool>
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #caseConverterWrapper
        (expand)="
          onExpand($event,'caseConverter', caseConverterWrapper.cancelChanges.bind(caseConverterWrapper))
        "
        (accept)="onAccept(); caseConverter.onAccept()"
        (cancel)="onCancel(); caseConverter.onCancel()"
        [isAcceptDisabled]="caseConverter.isAcceptDisabled()"
        title="Case Converter"
        icon="text_format"
      >
        <div tool-content>
          <app-case-converter-tool #caseConverter></app-case-converter-tool>
        </div>
      </app-quicktool-wrapper>
    </div>
    <div id="button-bar" class="flex justify-between m-5">
<!--      <button class="button-basics shine-effect action-button">Placeholder</button>-->
    </div>
  </div>
</div>
