<div class="w-full h-full quicktool-bg shadow-2xl">
  <div class="flex h-full flex-col justify-between">
    <div class="flex justify-between m-6 mb-0">
      <button
        [disabled]="!this.store.canUndo()"
        class="button-basics action-button"
        (click)="undoChanges()"
      >
        <i class="material-symbols-outlined text-base mr-3">undo</i>
        Undo
      </button>
      <button
        [disabled]="!this.store.canRedo()"
        class="button-basics action-button"
        (click)="redoChanges()"
      >
        Redo
        <i class="material-symbols-outlined text-base mr-3">redo</i>
      </button>
    </div>
    <div
      class="flex m-3 h-full"
      [ngClass]="{ 'flex-col': !verticalPosition }"
    >
      <app-quicktool-wrapper
        #replaceWrapper
        (expand)="onExpand('replace', replaceWrapper.cancelChanges.bind(replaceWrapper))"
        (accept)="onAccept(); replaceTool.onAccept()"
        (cancel)="onCancel(); replaceTool.onCancel()"
        [isAcceptDisabled]="replaceTool.isAcceptDisabled()"
        [stopClosingAfterAccept]="true"
        title="Replacement"
      >
        <div tool-content>
          <app-replace-tool #replaceTool />
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #indexerWrapper
        (expand)="onExpand('indexer', indexerWrapper.cancelChanges.bind(indexerWrapper))"
        (accept)="onAccept(); indexerTool.onAccept()"
        (cancel)="onCancel(); indexerTool.onCancel()"
        [isAcceptDisabled]="indexerTool.isAcceptDisabled()"
        icon="settings"
        title="Indexer"
      >
        <div tool-content>
          <app-indexer-tool #indexerTool></app-indexer-tool>
        </div>
      </app-quicktool-wrapper>

      <app-quicktool-wrapper
        #caseConverterWrapper
        (expand)="
          onExpand('caseConverter', caseConverterWrapper.cancelChanges.bind(caseConverterWrapper))
        "
        (accept)="onAccept(); caseConverter.onAccept()"
        (cancel)="onCancel(); caseConverter.onCancel()"
        [isAcceptDisabled]="caseConverter.isAcceptDisabled()"
        title="Case Converter"
        icon="text_format"
      >
        <div tool-content>
          <app-case-converter-tool #caseConverter></app-case-converter-tool>
        </div>
      </app-quicktool-wrapper>
    </div>
    <div id="button-bar" class="flex justify-between m-5">
      <!--- TODO: When searching in replacement, text gets higlighted and when leaving via cancel, highlighting stays --->
      <button class="button-basics decline-button" (click)="cancelChanges()">Cancel</button>
      <button class="button-basics action-button" (click)="applyChanges()">RENAME</button>
    </div>
  </div>
</div>
