<div class="flex">
  <div class="flex-col">
    <div class="flex justify-center">
      <div class="button-basics shine-effect decline-button flex justify-center items-center" (click)="removeColumn()">
        <i class="material-symbols-outlined">delete</i>
      </div>
    </div>
<!--    <div>-->
<!--      <input-->
<!--        tabindex="-1"-->
<!--        type="text"-->
<!--        id="name"-->
<!--        class="input-field-basics input-field-dyn-w h-full"-->
<!--        placeholder="Shard name"-->
<!--        [value]="givenShardCol().name"-->
<!--      >-->
<!--    </div>-->
    <div>
      <input
        type="text"
        id="name"
        #contentField
        class="input-field-basics input-field-dyn-w h-full"
        placeholder="Content"
        [disabled]="!givenShardCol().omnipresent"
        [value]="givenShardCol().content"
        (input)="updateContent(contentField.value)"
      >
    </div>
    <div class="flex justify-center">
      <button (click)="setOmnipresence()" class="button-basics shine-effect decline-button">
        @if (givenShardCol().omnipresent) {
          <i class="material-symbols-outlined text-lg cursor-pointer">lock</i>
        } @else {
          <i class="material-symbols-outlined text-lg cursor-pointer">lock_open</i>
        }
      </button>
    </div>

    <div tabindex="-1">
      <div *ngFor="let file of givenFiles(); index as f">
        <input
          [disabled]="givenShardCol().omnipresent"
          type="text"
          id="name"
          class="input-field-basics input-field-dyn-w h-full"
          [value]="givenShardCol().content"
        >
      </div>
    </div>
  </div>
</div>
