<div
  style="min-height: 80px"
  class="header-bg tailwind-font-color flex items-center justify-between shadow-border-b basic-element-background pl-3 pr-3"
>
  <div class="p-2">
    @if (themeService.darkMode()) {
      <img
        ngSrc="assets/shardsLogo-dark.png"
        priority
        alt="shardsLogo-dark"
        width="285"
        height="60"
      />
    } @else {
      <img ngSrc="assets/shardsLogo.png" priority alt="shardsLogo" width="285" height="60" />
    }
  </div>
  <div>
    <div class="text-4xl">Source</div>
    <div class="fade-text">{{ store.filesSignal().length > 0 ? store.filesSignal()[0].path : '&ensp;' }}</div>
  </div>
  <div>
    <div>Imported files</div>
    <div class="text-4xl">{{ store.filesSignal().length }}</div>
  </div>
  <div>
    <div>Selected files</div>
    <div class="text-4xl">{{ store.selectionCounterSignal() }}</div>
  </div>
  <div class="p-2">
    <div class="flex items-center justify-center">
      <button (click)="themeService.toggleDarkMode()" class="button-basics standard-button">
        <div class="flex justify-center">
          @if (themeService.darkMode()) {
            <i class="material-icons">light_mode</i>
          } @else {
            <i class="material-icons">dark_mode</i>
          }
        </div>
      </button>
    </div>
  </div>
</div>
