:host ::ng-deep .mat-internal-form-field > label {
  padding-left: 0;
}

.fade-text {
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  mask-image: linear-gradient(to right, transparent 0%, black 30%);
}
