@use '@angular/material' as mat;

:host ::ng-deep .mat-internal-form-field > label {
  padding-left: 0;
}

:host {
  @include mat.slide-toggle-overrides(
    (
      handle-shape: 0%,
      track-shape: 0%,
    )
  );
}
