<div>
  <div class="flex">
    <div class="p-2 pl-0">
      <button
        [disabled]="
          store.filesSignal().length === 0 ||
          store.selectionCounterSignal() === store.visibilitySignal()
        "
        (click)="selectAll()"
      >
        Select All
      </button>
    </div>
    <div class="p-2">
      <button
        [disabled]="store.filesSignal().length === 0 || store.selectionCounterSignal() === 0"
        (click)="deselectAll()"
      >
        Deselect All
      </button>
    </div>
    <div class="p-2">
      <button
        [disabled]="store.filesSignal().length === 0"
        (click)="invertSelection()"
      >
        Invert selection
      </button>
    </div>
    <div class="flex">
      <div class="p-2 pr-0">
        <input
          class="basic-input-field material-box-shadow-inset"
          #searchField
          placeholder="Search"
          type="text"
          style="width: 300px"
          [disabled]="store.filesSignal().length === 0"
          [value]="store.searchStringSignal()"
          (input)="store.searchStringSignal.set(searchField.value)"
          (keyup.enter)="store.filterFilesWithRegex(store.searchStringSignal())"
        />
        <button
          class="basic-button basic-input-field basic-input-field-button"
          [disabled]="!store.isClearable()"
          (click)="clearSearchString()"
        >
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
