<div class="display-flex height-100-percent width-100-percent">
  <div class="display-flex height-100-percent width-100-percent">

    <div class="display-flex flex-direction-col height-100-percent overflow-hidden width-100-percent">
      <app-file-manager class="height-100-percent"></app-file-manager>
    </div>

    @if(workflowService.isProcessing()) {
      <div class="z-index-king header-bg-color material-box-shadow-intense" style="width: 550px">
        <app-quicktools></app-quicktools>
      </div>
    }

  </div>
</div>

