<div class="basic-border bg-color">
  <div class="flex items-center p-1">
    <div class="flex w-full">
      <input
        [(ngModel)]="alternativeName"
        (ngModelChange)="indexingString()"
        type="text"
        placeholder="Alternative file name"
        class="input-field-basics w-full"
      />
    </div>
  </div>

  <div class="flex items-center p-1">
    <div class="flex w-full">
      <input
        [(ngModel)]="spacerText"
        (ngModelChange)="indexingString()"
        type="text"
        placeholder="Spacer"
        class="input-field-basics w-full"
      />
    </div>
    <div class="flex w-full">
      <input
        [(ngModel)]="startingFrom"
        (ngModelChange)="indexingString()"
        type="number"
        placeholder="Starting from"
        min="0"
        class="input-field-basics w-full"
      />
    </div>
    <div class="flex w-full">
      <input
        [(ngModel)]="placeholderForNumber"
        (ngModelChange)="indexingString()"
        type="number"
        placeholder="Positions for numbers"
        min="1"
        class="input-field-basics w-full"
      />
    </div>
  </div>

  <div class="flex items-center justify-center p-1">
    <div class="pr-2">Left</div>
    <div>
      <label class="switch switch-small">
        <input type="checkbox" [(ngModel)]="positionToggle" (ngModelChange)="indexingString()" />
        <span class="slider slider-small"></span>
      </label>
    </div>
    <div class="pl-2">Right</div>
  </div>
</div>
