/* HELPERS */
/*
For every project identically
=> no project specific dependencies => keep it copy+paste-able!
 */

.border-radius-none {
  border-radius: 0 !important;
}

.border-radius-small {
  border-radius: 2px !important;
}

.border-radius-medium {
  border-radius: 5px !important;
}

//.h-full {
//  height: 100%;
//}
//
//.height-50-percent {
//  height: 50%;
//}
//
//.w-full {
//  width: 100%;
//}
//
//.width-50-percent {
//  width: 50%;
//}
//
//.overflow-y-auto {
//  overflow-y: auto;
//}
//
//.overflow-x-auto {
//  overflow-x: auto;
//}
//
//.overflow-y-scroll {
//  overflow-y: scroll;
//}
//
//.overflow-x-scroll {
//  overflow-x: scroll;
//}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-boldcompact {
  font-weight: 500;
}

.details-area-height {
  max-height: 85px;
}

.font-size-xxsmall {
  font-size: 8px;
}

.font-size-xsmall {
  font-size: 10px;
}
//
//.text-xs {
//  font-size: 12px;
//}
//
//.text-base {
//  font-size: 16px;
//}
//
//.text-xl {
//  font-size: 20px;
//}
//
//.text-2xl {
//  font-size: 24px;
//}
//
//.text-3xl {
//  font-size: 28px;
//}
//
//.text-4xl {
//  font-size: 32px;
//}

/* FLEX */

//.flex {
//  display: flex;
//}
//
//.justify-center {
//  justify-content: center;
//}
//
//.items-center {
//  align-items: center;
//}
//
//.justify-between {
//  justify-content: space-between;
//}
//
//.content-between {
//  align-content: space-between;
//}
//
//.justify-end {
//  justify-content: flex-end;
//}
//
//.justify-start {
//  justify-content: flex-start;
//}
//
//.flex-col {
//  flex-direction: column;
//}
//
//.flex-row {
//  flex-direction: row;
//}
//
//.flex-1 {
//  flex: 1;
//}

.basic-flex-4 {
  flex: 4;
}

.small-event {
  height: 100px !important;
}

.medium-event {
  height: 200px;
}

.large-event {
  height: 300px !important;
}

.delete-icon-addition {
  scale: 0.8;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.material-box-shadow {
  box-shadow: var(--shadow-black) !important;
}

.material-box-shadow-intense {
  box-shadow: var(--shadow-black-intense) !important;
}

.material-box-shadow-inset {
  box-shadow:
    1px 4px 8px 0 rgba(0, 0, 0, 0.3) inset,
    1px 4px 8px 0 rgba(0, 0, 0, 0.22) inset;
}

.material-box-shadow-lowkey {
  box-shadow: var(--shadow-black-lowkey);
}

.spacer-xsmall {
  width: 3px;
}

.spacer-small {
  width: 5px;
}

.spacer-medium {
  width: 10px;
}

.spacer-large {
  width: 15px;
}

//.z-emperor {
//  z-index: 999;
//}
//
//.z-king {
//  z-index: 99;
//}
//
//.z-lord {
//  z-index: 9;
//}

.cursor-grab {
  cursor: grab;
}

.cursor-pointer {
  cursor: pointer;
}

.long-word-break {
  word-break: break-all !important;
}
