.loader-shiny {
  @apply w-10 aspect-square;
  @apply bg-purple-400 dark:bg-purple-900;
  background-image: linear-gradient(to bottom right, #0000 calc(50% - 40px), rgba(255, 255, 255, 0.8) 50%, #0000 calc(50% + 40px));
  background-size: calc(200% + 80px) calc(200% + 80px);
  background-position: bottom right;
  animation: l8 1s infinite;

  &.small {
    @apply w-6 aspect-square;
  }

  &.grey {
    @apply bg-neutral-400 dark:bg-neutral-800;
  }
}

@keyframes l8 {
  100% {background-position: top left}
}
