.shine-effect {
  @apply relative overflow-hidden;

  &::before {
    content: '';
    left: -110%;
    @apply absolute top-0 w-full h-full;
    @apply bg-gradient-to-r from-transparent via-white/40 to-transparent;
    @apply opacity-0;
    transform: skewX(-20deg);
    transition: left 0.5s ease-out, opacity 0s;
  }

  &:hover:not([disabled])::before {
    left: 110%;
    @apply opacity-100;
    transition: left 0.5s ease-out, opacity 0s;
  }

  &:not(:hover)::before {
    transition: left 0s, opacity 0s 0.5s;
  }
}

.button-basics {
  @apply flex items-center justify-center p-2 shadow-lg-dark cursor-pointer;

  &.disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

.button-text-left {
  @apply justify-start
}

.standard-button {
  @apply bg-neutral-700 hover:bg-neutral-500 text-neutral-100;
  @apply dark:bg-neutral-200 hover:dark:bg-neutral-500 dark:text-neutral-900;

  &:disabled {
    @apply bg-neutral-400 text-neutral-200;
    @apply dark:bg-neutral-500 dark:text-neutral-700;
  }
}

.action-button {
  @apply bg-eggplant-400 hover:bg-eggplant-300 text-neutral-900;
  @apply dark:bg-eggplant-800 hover:dark:bg-eggplant-700 dark:text-neutral-100;

  &:disabled {
    @apply bg-neutral-400 text-neutral-600;
    @apply dark:bg-neutral-700 dark:text-neutral-400;
  }
}

.decline-button {
  @apply bg-ruby-400 hover:bg-ruby-300 text-neutral-950;
  @apply dark:bg-ruby-800 hover:dark:bg-ruby-700 dark:text-neutral-100;

  &:disabled {
    @apply bg-ruby-100 text-neutral-500;
    @apply dark:bg-ruby-950 dark:text-neutral-400;
  }
}

.button-small {
  @apply flex items-center justify-center;
  @apply p-1 h-8 w-8;
  @apply shadow-lg
}

.tailwind-font-color {
  @apply text-gray-950 ;
  @apply dark:text-gray-300;
}

.header-bg {
  @apply bg-gradient-to-tr from-neutral-300 to-white;
  @apply dark:bg-gradient-to-tr dark:from-neutral-800 dark:to-neutral-700;
}

.application-bg {
  @apply bg-gradient-to-tr from-neutral-400 to-neutral-200;
  @apply dark:bg-gradient-to-tr dark:from-neutral-900 dark:to-neutral-800;
}

.list-element-bg {
  @apply bg-gradient-to-r from-neutral-100 to-neutral-300;
  @apply dark:bg-gradient-to-r dark:from-neutral-700 dark:to-neutral-800;

  &:hover {
    @apply bg-gradient-to-r from-amber-400 to-amber-400;
    @apply dark:bg-gradient-to-r dark:from-amber-800 dark:to-amber-800;
  }
}

.file-selected-bg {
  @apply bg-gradient-to-r from-eggplant-400 to-neutral-300;
  @apply dark:bg-gradient-to-r dark:from-eggplant-700 dark:to-neutral-800;
}

.file-group-selected-bg {
  @apply bg-gradient-to-r from-amethyst-400 to-neutral-300;
  @apply dark:bg-gradient-to-r dark:from-amethyst-700 dark:to-neutral-800;
}

.highlight-area-bg {
  @apply bg-eggplant-400;
  @apply dark:bg-eggplant-800;
}

.application-2-bg {
  @apply bg-neutral-200;
  @apply dark:bg-neutral-700;
}

.quicktool-bg {
  @apply shadow-border-l;
  @apply bg-neutral-300;
  @apply dark:bg-neutral-800;
}

.application-4-bg {
  @apply bg-neutral-200;
  @apply dark:bg-neutral-600;
}

.input-field-basics {
  @apply h-10 pl-2 pr-2;
  @apply border-2 border-neutral-500 bg-neutral-100;
  @apply dark:border-neutral-500 dark:bg-neutral-800;
}

.input-field-shard {
  @apply w-40;
}

.input-field-dyn-w {
  @apply field-sizing-content min-w-20;
}

.input-field-co-button {
  @apply border-l-0;
  @apply hover:bg-neutral-300;
  @apply dark:hover:bg-neutral-700;
}


.highlight-text {
  @apply bg-amber-500;
  @apply dark:bg-amber-800;
}

.list-element-basics {
  @apply min-h-8 border-1;
  @apply border-neutral-300;
  @apply dark:border-neutral-800;
}

.add-button {
  @apply bg-ruby-400 hover:bg-ruby-300 text-neutral-900;
  @apply dark:bg-ruby-800 hover:dark:bg-ruby-700 dark:text-neutral-100;
}

.shadow-inner-xl {
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.6);
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-in forwards;
    opacity: 0;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
