.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-small {
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-bg);
  transition: .4s;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2) inset, 1px 4px 8px 0 rgba(0, 0, 0, 0.19) inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-color-smooth);
  transition: .4s;
}

.slider-small:before {
  height: 16px;
  width: 16px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.switch .slider {
  --toggle-bg: #000000;
}

.switch.dark input:checked + .slider {
  --toggle-bg: #e2e2e2;
  --toggle-knob: black;
}
