<!--<div class="header-bg-color border-radius-none padding-xlarge material-box-shadow-intense">-->
<!--  <div class="basic-font font-size-xlarge">Rename files?</div>-->
<!--  <div class="basic-font padding-large-bottom padding-large-top">-->
<!--    You are about to rename {{ data.changedFiles }} files.<br />-->
<!--    Proceed?-->
<!--  </div>-->
<!--  <div class="display-flex flex-space-between-v">-->
<!--    <button class="font-color" (click)="closeDialog()">Cancel</button>-->
<!--    <button class="font-color" [mat-dialog-close]="true">Rename</button>-->
<!--  </div>-->
<!--</div>-->
