<div class="basic-border">
  <div class="flex items-center p-1">
    <div class="flex w-full">
      <input
        [(ngModel)]="pattern"
        (keyup)="highlightString()"
        type="text"
        placeholder="Particle to be replaced"
        class="input-field-basics w-full"
      />
    </div>
  </div>

  <div class="flex items-center p-1">
    <div class="flex w-full">
      <input
        [(ngModel)]="replacement"
        (input)="changePattern()"
        type="text"
        placeholder="Replacement"
        class="input-field-basics w-full"
      />
    </div>
  </div>
</div>
