<div class="basic-border p-2 bg-color">
  <div class="flex items-center p-2">
    <div class="flex w-full">
      <input
        [(ngModel)]="pattern"
        (keyup)="highlightString()"
        type="text"
        placeholder="Particle to be replaced"
        class="basic-input-field w-full"
      />
    </div>
  </div>

  <div class="flex items-center p-2">
    <div class="flex w-full">
      <input
        [(ngModel)]="replacement"
        (input)="changePattern()"
        type="text"
        placeholder="Replacement particle"
        class="basic-input-field w-full"
      />
    </div>
  </div>
</div>
