<div class="router-bg-color material-box-shadow-lowkey m-3">
  <div
    class="font-size-medium p-3 flex items-center cursor-pointer"
    (click)="toggle()"
  >
    <i class="material-icons font-size-medium mr-3">{{ icon() }}</i>
    <div>
      {{ title() }}
    </div>
  </div>

  <div *ngIf="isExpanded">
    <div>
      <ng-content select="[tool-content]"></ng-content>
    </div>
    <div>
      <div class="flex p-3 justify-between">
        <button
          class="font-color"
          [disabled]="isCancelDisabled()"
          (click)="cancelChanges()"
        >
          Cancel
        </button>
        <button
          class="font-color"
          [disabled]="isAcceptDisabled()"
          (click)="acceptChanges()"
        >
          Accept
        </button>
      </div>
    </div>
  </div>
</div>
