<div class="space-y-2 pl-2 pr-2">
  <label class="block">
    <input
      type="radio"
      name="case"
      [(ngModel)]="selectedCase"
      (change)="onSelectionChange()"
      value="upper"
      class="mr-2"
    />
    ALL CAPITALIZED
  </label>

  <label class="block">
    <input
      type="radio"
      name="case"
      [(ngModel)]="selectedCase"
      (change)="onSelectionChange()"
      value="lower"
      class="mr-2"
    />
    all lower case
  </label>

  <label class="block">
    <input
      type="radio"
      name="case"
      [(ngModel)]="selectedCase"
      (change)="onSelectionChange()"
      value="capitalize"
      class="mr-2"
    />
    First Letter Capitalized
  </label>
</div>
