<div class="flex justify-between m-5">
  <div class="flex">
    <div>
      <button
        class="button-basics shine-effect decline-button"
        (click)="changeSource()"
      >
        <i class="material-symbols-outlined text-lg">chevron_left</i>
        Change source</button>
    </div>
<!--    <div class="ml-4">-->
<!--      <button class="button-basics shine-effect action-button" (click)="arrangeFiles()">Arrange files</button>-->
<!--    </div>-->
  </div>
  <div class="flex">
    <div class="ml-4">
      @if (store.isRenaming()) {
        <div class="loader-shiny shadow-lg-dark"></div>
      }
    </div>
    <div class="ml-4">
      <button
        [disabled]="store.changedFilesCounter() === 0"
        (click)="startRenamingProcess()" class="button-basics shine-effect alteration-button">
        <div class="flex">
          <i class="material-symbols-outlined text-lg cursor-pointer">edit</i>
        </div>
        <div class="pl-2">
          @if (store.changedFilesCounter() === 0) {
            Rename
          } @else {
            Rename {{ store.changedFilesCounter() }} files
          }
        </div>
      </button>
    </div>
  </div>
</div>
