<div class="flex justify-between m-5 mt-0">
  <div class="flex">
    <div class="mr-4">
      <button class="button-basics decline-button" (click)="changeSource()">Change source</button>
    </div>
    <div>
<!--      <button class="button-basics action-button" (click)="arrangeFiles()">Arrange files</button>-->
    </div>
  </div>
  <div>
    <button class="button-basics action-button"
            [disabled]="store.selectionCounterSignal() === 0"
            (click)="changeFileNames()"
    >
      Change names!
    </button>
  </div>
</div>
