<div class="height-100-percent user-select-none">
  <div style="font-family: Arial,sans-serif" cdkDropList (cdkDropListDropped)="dropFile($event)" class="example-list">

    @for (file of store.filesSignal(); track file; let index = $index) {
      @if(file.isVisible) {
        <div cdkDrag
             [ngClass]="{'highlight-bg-color': file.isSelected, 'header-bg-color': !file.isSelected }"
             class="example-box display-flex flex-centralize-v file-item">
          <div class="example-custom-placeholder router-bg-color material-box-shadow-inset" *cdkDragPlaceholder></div>
          <div class="display-flex flex-centralize-v width-100-percent height-100-percent">
            <div
              class="index-column padding-small-left"
              [ngClass]="{ 'highlighted': file.index !== index }"
            >
              {{ file.index + 1 }}.
            </div>
            <div class="display-flex cursor-grab height-100-percent flex-centralize-h flex-centralize-v" style="width: 24px">
              <i cdkDragHandle class="material-icons font-size-medium">drag_indicator</i>
            </div>
            <div
              class="display-flex flex-centralize-v"
              style="width: 20px">
              @if(file.changed) {
                <i class="material-icons font-size-medium">settings</i>
              }
            </div>
            <div
              (mousedown)="onMouseDown($event, file)"
              (mouseenter)="onMouseEnterFile(file)"
              (click)="onFileClick($event, file, index)"
              class="display-flex flex-centralize-v width-100-percent height-100-percent">
              <div>
                <div class="long-word-break" [innerHTML]="file.displayName"></div>
              </div>
            </div>
          </div>
          <div
            class="display-flex flex-centralize-v padding-small-right"
            (click)="editFileName($event, file)">
<!--            <i class="material-icons font-size-medium">edit</i>-->
          </div>
        </div>
      }
    }

  </div>

</div>
