<div class="h-full user-select-none">
  <div cdkDropList (cdkDropListDropped)="onFileDrop($event)"
       class="file-list">
    @for (file of store.filesSignal(); track file; let index = $index) {
      @if (file.isVisible) {
        <div class="flex">

          <div
            cdkDrag
            [ngClass]="{'file-selected-bg': file.isSelected}"
            class="list-element-basics list-element-bg flex items-center w-full"
          >
            <div
              class="file-custom-placeholder router-bg-color material-box-shadow-inset"
              *cdkDragPlaceholder
            ></div>
            <app-file-list-row
              [file]="file"
              [index]="index"
              (mouseDown)="onMouseDown($event, file)"
              (mouseEnter)="onMouseEnterFile(file)"
              (fileClick)="onFileClick($event, file, index)"
              class="w-full h-full"
            ></app-file-list-row>
          </div>

        </div>
      }
    }
  </div>
</div>
