<div class="height-100-percent user-select-none">
  <div cdkDropList
       (cdkDropListDropped)="dropFile($event)"
       class="basic-font file-list">

    @for (file of store.filesSignal(); track file; let index = $index) {
      @if(file.isVisible) {
        <div cdkDrag
             [ngClass]="{
             'highlight-bg-color-gradient': file.isSelected,
             'header-bg-color': !file.isSelected
             }"
             class="file-entry display-flex flex-centralize-v file-item">
          <div class="file-custom-placeholder router-bg-color material-box-shadow-inset"
               *cdkDragPlaceholder>
          </div>
          <div class="display-flex flex-centralize-v width-100-percent height-100-percent">
            <div
              class="display-flex flex-flex-end index-column padding-small-left padding-medium-right"
              [ngClass]="{ 'highlighted': file.index !== index }"
            >
              {{ file.index + 1 }}.
            </div>
            <div class="display-flex cursor-grab height-100-percent flex-centralize-h flex-centralize-v padding-medium-right">
              <i cdkDragHandle class="material-icons font-size-medium">drag_indicator</i>
            </div>
            <div
              class="display-flex flex-centralize-v padding-medium-right index-column">
              @if(file.name !== file.changedName) {
                <i class="material-icons font-size-medium">settings</i>
              }
            </div>
            <div
              (mousedown)="onMouseDown($event, file)"
              (mouseenter)="onMouseEnterFile(file)"
              (click)="onFileClick($event, file, index)"
              class="display-flex flex-centralize-v width-100-percent height-100-percent">
              <div>
                <div class="long-word-break" [innerHTML]="file.displayName"></div>
              </div>
            </div>
          </div>
        </div>
      }
    }

  </div>
</div>
