<div class="p-4 h-full w-full">

  <div class="flex flex-col justify-between content-between h-full w-full">
    <div class="m-5 p-4 overflow-auto shadow-inner-xl h-full">

      <div>
        <div class="flex">
          <div class="flex-col flex justify-between p-1">
            <div class="button-spacer"></div>
            <div class="button-basics shine-effect decline-button flex justify-center items-center mt-2" (click)="addColumn(0)">
              <i class="material-symbols-outlined">add</i>
            </div>
          </div>
          <div class="flex-col" *ngFor="let shardCol of shardColumns(); index as columnIndex">
            <div class="flex">
              <div class="flex-col p-1">

                <div class="flex justify-center">
                  <button [disabled]="shardColumns().length === 1" (click)="removeColumn(columnIndex)" class="button-basics shine-effect decline-button">
                    <i class="material-symbols-outlined text-lg cursor-pointer">delete</i>
                  </button>
                </div>

                <div class="mt-2">
                  <input
                    type="text"
                    id="name"
                    #topContentField
                    class="input-field-basics input-field-shard h-full"
                    [attr.data-col]="columnIndex"
                    [attr.data-row]="-1"
                    [value]="shardCol().content"
                    (input)="updateContent(shardCol, topContentField.value)"
                    columnJump
                  >
                </div>

              </div>

              <div class="flex-col content-end p-1">
                <div class="button-basics shine-effect decline-button flex justify-center items-center" (click)="addColumn(columnIndex+1)">
                  <i class="material-symbols-outlined">add</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-5">
        <div *ngFor="let file of files(); index as i">
          <div class="tailwind-font-color-light">{{ file.name }}</div>
          <app-shards-row [shardColumns]="shardColumns" [rowIndex]="i"></app-shards-row>
        </div>
      </div>

    </div>
    <div class="m-5 mt-0">
      <app-shards-footer></app-shards-footer>
    </div>
  </div>

</div>
