<div>
  <div>
    <button
      (click)="returnToSelection()" class="button-basics shine-effect decline-button">
      <div class="flex">
        <i class="material-symbols-outlined text-lg cursor-pointer">edit_square</i>
      </div>
      <div class="pl-2">
        Return
      </div>
    </button>
  </div>
  <div>
    <button>
      <button
        (click)="returnToSelection()" class="button-basics shine-effect alteration-button">
        <div class="flex">
          <i class="material-symbols-outlined text-lg cursor-pointer">edit_square</i>
        </div>
        <div class="pl-2">
          Save and return
        </div>
      </button>
    </button>
  </div>
</div>
