<div class="flex-1 flex application-4-bg list-element-basics h-14 w-full">
  <div class="w-35"><!-- Spacer --></div>
  @for (shardCol of this.shardsService.shardColumns(); track shardCol; let index = $index) {
    <div>
      <div class="flex justify-between">
        <div class="button-extra-small m-1"><!--Placeholder--></div>
        <button
          [disabled]="shardsService.shardColumns().length === 1"
          (click)="deleteShardColumn(index)"
          class="button-basics action-button button-extra-small m-1 shine-effect">
          <i class="material-symbols-outlined !text-sm">delete</i>
        </button>
        <button
          (click)="addShardColumn(index + 1)"
          class="button-basics action-button button-extra-small m-1 shine-effect">
          <i class="material-symbols-outlined !text-sm">add_column_right</i>
        </button>
      </div>
      <div>
        <input
          #broadcaster
          [value]="shardCol.content()"
          (input)="shardCol.content.set(broadcaster.value)"
          type="text"
          class="input-field-basics input-field-shard w-full"
        />
      </div>

    </div>
  }
</div>
