<div class="display-flex flex-direction-col height-100-percent">

  <div *ngIf="store.filesSignal().length === 0" class="padding-medium">
    <app-file-selector></app-file-selector>
  </div>

  <div #overlay class="blocked-area z-index-lord hidden"></div>
  <div *ngIf="store.filesSignal().length > 0" class="display-flex flex-direction-col height-100-percent">
    <div class="padding-medium">
      <app-file-monitor></app-file-monitor>
    </div>

    <div class="margin-large height-100-percent basic-font-color scroll-container-y-scroll scroll-bar-design">
      <app-file-list></app-file-list>
    </div>
  </div>
</div>
