<div class="display-flex flex-direction-col height-100-percent">

  <div *ngIf="store.filesSignal().length === 0" class="height-50-percent padding-medium">
    <app-file-selector></app-file-selector>
  </div>

  <div #overlay tabindex="0" class="blocked-area z-index-lord hidden"></div>

  <div
    *ngIf="store.filesSignal().length > 0"
    [attr.inert]="workflowService.isProcessing() ? true : null"
    class="display-flex flex-direction-col height-100-percent"
  >

    <div class="padding-xlarge-top padding-xlarge-left padding-xlarge-right">
      <app-file-monitor></app-file-monitor>
    </div>

    <div style="border: 1px solid red;" class="display-flex padding-xlarge overflow-hidden height-100-percent">
      @if(!store.isRearrangingFiles()) {
        <div class="side-col-width margin-medium-right material-box-shadow">
          <app-percentage-vertical></app-percentage-vertical>
        </div>
        <app-file-list-wrapper class="width-100-percent">
          <div content>
            <app-file-list></app-file-list>
          </div>
        </app-file-list-wrapper>
      } @else {
        <app-file-list-wrapper class="width-100-percent">
          <div content>
            <app-file-group-list></app-file-group-list>
          </div>
        </app-file-list-wrapper>
      }
    </div>

    <div class="display-flex flex-space-between-v margin-xlarge margin-none-top">
      <div class="display-flex">
        <div class="margin-large-right">
          <button class="font-color" (click)="getFiles()">Change source</button>
        </div>
        <div>
          <button class="font-color" (click)="arrangeFiles()">Arrange files</button>
        </div>
      </div>
      <div>
        <button class="standard-button"
          [disabled]="store.selectionCounterSignal() === 0 || workflowService.isProcessing()"
          (click)="changeFileNames()"
        >
          Change names!
        </button>
      </div>
    </div>

  </div>
</div>
