<div class="basic-border p-3">
  <div class="text-base"></div>
  <div class="flex">
    {{ searchShardsString }}
    <input
      class="basic-input-field w-full"
      #searchField
      placeholder="Search ..."
      type="text"
      [disabled]="store.selectionCounterSignal() < 1"
      [value]="searchShardsString"
      (input)="setShardsSearchString(searchField.value)"
      (keyup.enter)="searchForGroups()"
    />
    <button
      class="basic-button basic-input-field basic-input-field-button"
      (click)="resetShardsSearch()"
    >
      Clear
    </button>
  </div>
  <div class="flex">
    <div>
      <button
        class="basic-button basic-button-red"
        [disabled]="store.selectionCounterSignal() < 1"
        (click)="searchForGroups()"
      >
        Search
      </button>
    </div>
    <div>
      <button
        class="basic-button basic-button-purple"
        [disabled]="store.selectionCounterSignal() < 1"
        (click)="setTestRegex()"
      >
        => REGEX
      </button>
    </div>
  </div>
  <div class="flex">
    <div *ngFor="let shard of store.matchingShards(); index as i">
      @if (i > -5) {
        <div
          class="text-xs basic-border border-radius-medium m-1 p-1 bg-color-violet"
        >
          {{ shard }}
        </div>
      }
    </div>
  </div>
</div>
