.file-row-content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 300ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 0;
}

.file-row-content.expanded {
  grid-template-rows: 1fr;
  transition: grid-template-rows 300ms ease-in-out, opacity 250ms ease-in-out;
  opacity: 1;
}

.file-row-content-inner {
  min-height: 0;
}
