<div class="w-full h-full">
  <div
    class="flex items-center w-full h-full"
    [ngClass]="{'tailwind-font-color-warning': file.hasInternalWarning || file.hasExternalWarning }"
  >
    <div
      (mousedown)="onNewMouseDown($event)"
      (mouseenter)="onNewMouseEnter()"
      (click)="onNewFileClick($event)"
      class="flex center-basics pl-1 pr-2 tailwind-font-color-light h-full">
      @if (file.isSelected) {
        <i class="material-symbols-outlined">check_box</i>
      } @else {
        <i class="material-symbols-outlined">check_box_outline_blank</i>
      }
    </div>
    <div cdkDragHandle class="flex cursor-grab items-center justify-end pl-2 pr-2 w-16 tailwind-font-color-light">
      {{ file.index + 1 }}
      <i class="material-symbols-outlined">drag_indicator</i>
    </div>
    <div class="flex center-basics items-center w-10 pr-2">
      @if (file.hasExternalWarning) {
        <i (click)="openWarning(file.externalErrorMessage)" class="material-symbols-outlined !text-lg">computer_cancel</i>
      }
      @else if (file.hasInternalWarning) {
        <i class="material-symbols-outlined !text-lg">warning</i>
      }
      @else if (file.isChanged) {
        <i class="material-symbols-outlined !text-lg">settings</i>
      }
    </div>
    <div
      (mousedown)="onNewMouseDown($event)"
      (mouseenter)="onNewMouseEnter()"
      (click)="onNewFileClick($event)"
      class="flex-1 flex items-center h-full w-full"
    >
      <div class="flex">
        <div class="long-word-break" [innerHTML]="file.displayName"></div>
<!--        <div-->
<!--          (mousedown)="preventCalling($event);"-->
<!--          (click)="testFunc($event, file)" class="pl-2">-->
<!--          <i class="material-symbols-outlined text-sm">edit</i>-->
<!--        </div>-->
      </div>
    </div>
    <div class="flex justify-start tailwind-font-color-light w-10">
      {{ file.extension }}
    </div>
    <div class="flex justify-end tailwind-font-color-light pr-2 w-25">
      {{ file.size | filesize }}
    </div>
  </div>
</div>
