<div class="h-full user-select-none">
  <div cdkDropList (cdkDropListDropped)="dropFile($event)"
       class="file-list">
    @for (entry of store.rearrangeFilesSignal(); track entry; let index = $index) {
      <div class="flex">

        <div class="flex justify-center items-center w-9 mr-3">
          @if(entry.isSelected
              && store.rearrangeFilesSignal()[index+1].isSelected
              && !store.rearrangeFilesSignal()[index-1].isSelected
            ) {
            <button class="button-basics shine-effect button-small" (click)="groupFiles(index)">
              <i class="material-symbols-outlined !text-lg">lock</i>
            </button>
          }
          @if(entry.files.length > 1 && !entry.isSelected) {
            <button class="button-basics shine-effect button-small" (click)="ungroupFiles(index)">
              <i class="material-symbols-outlined !text-lg">lock_open_right</i>
            </button>
          }
        </div>
        <div
          cdkDrag
          [ngClass]="{'file-group-selected-bg': entry.isSelected}"
          class="list-element-basics list-element-bg flex items-center w-full"
        >
          <div
            class="file-custom-placeholder router-bg-color material-box-shadow-inset"
            *cdkDragPlaceholder
          ></div>
          <div class="flex items-center w-full h-full">
            <div
              cdkDragHandle
              class="flex justify-end cursor-grab pl-2 pr-3 w-16">
              {{ index + 1 }}.
            </div>
            <div class="flex items-center pr-3">
              <!--- placeholder --->
            </div>
            <div
              (mousedown)="onMouseDown($event, entry)"
              (mouseenter)="onMouseEnterFile(entry)"
              (click)="onFileClick($event, entry, index)"
              class="flex items-center w-full h-full"
            >
              <div>
                @for(file of entry.files; track file) {
                  <div class="long-word-break" [innerHTML]="file.displayName"></div>
                }
              </div>
            </div>
          </div>
        </div>

      </div>
    }
  </div>
</div>
