<div class="h-full user-select-none">
  <div cdkDropList (cdkDropListDropped)="dropFile($event)" class="basic-font file-list">
    @for (fileGroup of store.rearrangeFilesSignal(); track fileGroup; let index = $index) {
      <div class="flex">

        <div class="flex justify-center items-center w-9 mr-3">
          @if(fileGroup.isSelected
              && store.rearrangeFilesSignal()[index+1].isSelected
              && !store.rearrangeFilesSignal()[index-1].isSelected
            ) {
            <button class="button-basics button-small" (click)="groupFiles(index)">
              <i class="material-icons !text-lg">lock</i>
            </button>
          }
          @if(fileGroup.files.length > 1 && !fileGroup.isSelected) {
            <button class="button-basics button-small" (click)="ungroupFiles(index)">
              <i class="material-icons !text-lg">lock_open</i>
            </button>
          }
        </div>
        <div
          cdkDrag
          [ngClass]="{
            'file-selected-bg': fileGroup.isSelected,
            'file-bg': !fileGroup.isSelected,
          }"
          class="file-entry file-item flex items-center w-full"
        >
          <div
            class="file-custom-placeholder router-bg-color material-box-shadow-inset"
            *cdkDragPlaceholder
          ></div>
          <div class="flex items-center w-full h-full">
            <div
              class="flex justify-end index-column pl-2 pr-3"
            >
              {{ index + 1 }}.
            </div>
            <div
              class="flex cursor-grab h-full justify-center items-center pr-3"
            >
              <i cdkDragHandle class="material-icons text-base">drag_indicator</i>
            </div>
            <div
              (mousedown)="onMouseDown($event, fileGroup)"
              (mouseenter)="onMouseEnterFile(fileGroup)"
              (click)="onFileClick($event, fileGroup, index)"
              class="flex items-center w-full h-full"
            >
              <div>
                @for(file of fileGroup.files; track file; let subindex = $index) {
                  <div class="long-word-break" [innerHTML]="file.displayName"></div>
                }
              </div>
            </div>
          </div>
        </div>

      </div>
    }
  </div>
</div>
